<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary">
          <p>I help build and implement software solutions. Experienced in all phases of SaaS web and mobile software development life cycle including: market research, requirements gathering, scoping, budgeting, managing development and implementation. Extra time and focus is invested on clear communications to insure all parties have a common understanding of the goals and motivations of the project, especially as goals change.</p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">Sling Technologies</h3>
          <h4 class="resume-item-details">COO, Product Manager &bull; June, 2005 &mdash; Present</h4>
          <p class="resume-item-copy"></p>
          <ul class="resume-item-list">
            <li><b>Product Planning and Management -</b> Identify, organize and articulate product needs to stakeholders and development team. Manage scopes, development tasks and upkeep of web systems in parking and real estate listing products. Serve multiple support and management roles to ensure team members have what they need to complete projects.  </li>
            <li><b>Integrations -</b> Scout, initiate and manage integrations with vendors including private software companies, state DMVs and NLETs (National Law Enforcement Telecommunications) whose access is governed and administered by the FBI/CJIS.</li>
            <li><b>Automation -</b> Build work-flows and systems for repetitive and scheduled tasks. Identified and implemented software enhancements which reduced non-productive customer communications by over 50%. This increased revenue and customer satisfaction by allowing our services department the time to give superior support and up sell clients when appropriate.</li>
            <li><b>Leadership -</b> Drive company and product decisions in partnership with two other co-founders. Responsible for making sure people and projects remain in line with company's short and long term goals. Mobilize the team's adoption of Agile methodologies.</li>
          </ul>
          <p class="resume-item-copy"></p>

        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item">
          <h3 class="resume-item-title">iParq</h3>
          <h4 class="resume-item-details">Client Statement Specialist &bull; Oct, 2001 &mdash; June, 2005</h4>
          <p class="resume-item-copy"></p>
           <ul class="resume-item-list">
            <li><b>Client Statements & Dashboards  -</b> Designed and built tools that automated generation of client financial statements and credit card reconciliation while generating output for accounting software. Reduced man hours and delivery time by 83% while eliminating a huge bottleneck to growth. Designed reporting dashboards that helped clients better understand and run their business operations.</li>
            <li><b>Database Validation  -</b> Identified opportunities to improve SQL database, resulting in more accurate reporting and accounting. Increased accuracy and speed of reporting, boosting client confidence.</li>
            <li><b>Management -</b> Managed many projects in the product owner role including a collections process for a new monthly parking product. Coordinated with all departments to make sure projects stayed on track. Tasked with managing accounting department beginning in 2004.</li>
          </ul>


        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item">
          <h3 class="resume-item-title">EarthShell</h3>
          <h4 class="resume-item-details">Accounting / Due Diligence &bull; June, 2001 &mdash; Oct, 2001</h4>
          <p class="resume-item-copy">Took direction from the Controller. Ran several due diligence projects. Took over AP and AR responsibilities.</p>

        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education & Certifications</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">UCSB</h3>
          <h4 class="resume-item-details">BA, Business Economics &bull; 2001</h4>
          <p class="resume-item-copy"></p>
        </div>
        <div class="resume-item">
          <h3 class="resume-item-title">UCSB</h3>
          <h4 class="resume-item-details"><a href="http://partytimeweekend.com/images/CFP.pdf">Professional Financial Planning</a> &bull; 2008</h4>
          <p class="resume-item-copy"></p>
        </div>
        <div class="resume-item">
          <h3 class="resume-item-title">Scrum Alliance</h3>
          <h4 class="resume-item-details"><a href="https://www.scrumalliance.org/community/profile/dcarlson10/">Certified Scrum Master®</a></h4>
          <p class="resume-item-copy"></p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://donutlocator.io">donutfinder.io</a></h3>
          <h4 class="resume-item-details">Founder & Primary Developer &bull; 2012 &mdash; Present</h4>
          <p class="resume-item-copy">Donut Locater is an open source node/ember app that lets users find donuts within a defined radius from their home.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Donut Eater's User Group</h3>
          <h4 class="resume-item-details">Co-Founder & Organizer &bull; 2007 &mdash; Present</h4>
          <p class="resume-item-copy">DEUG is a local monthly meetup in Springfield where we share all the latest tips and tricks for dat donut lifestyle. I organize the group, and typically eat most of the donuts.</p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Software</h4>
          <p class="resume-item-copy">Gather requirements | Work with Dev team to create feature list | Wireframes & Mockups</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Project Management</h4>
          <p class="resume-item-copy"><a href="https://www.scrumalliance.org/community/profile/dcarlson10/">Certified Scrum Master®</a> | Managed new implementations | Managed internal projects.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Accounting/Finance</h4>
          <p class="resume-item-copy">Created company wide and project budgets | Created tools to accurately report on and track over $1B of customer income.</p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Power Plant</h3>
          <h4 class="resume-item-details">Outstanding Achievement &bull; 2010</h4>
          <p class="resume-item-copy">Awarded for stopping a nuclear meltdown, even though I also started it.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Duff Beer Customer of the year</h3>
          <h4 class="resume-item-details">1997 &mdash; 2001, 2003, 2008 &mdash; 2012</h4>
          <p class="resume-item-copy">Honored by <a href="https://en.wikipedia.org/wiki/Duff_Beer">Duff Beer</a> for being an outstanding customer several years straight. Qualifications included most beer consumed at a bar, most beer purchased, and most beer ralphed.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Moe's Patron of the Month</h3>
          <h4 class="resume-item-details">12/2001, 8/2004</h4>
          <p class="resume-item-copy">Specifically this prestigious awarded twice for stopping a robber with my belly.</p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line"><a href="http://www.danencarlson.com"></a></p>
        <p class="footer-line"></p>
      </footer>

    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-72560337-1', 'auto');
      ga('send', 'pageview');
    
    </script>

  </body>

</html>
